.pagination {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.pageButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin-right: 8px;
  border: none;
  border-radius: 4px;
  background-color: #f5f5f5;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pageButton:hover {
  background-color: #e0e0e0;
}
.activePageBtn {
  background-color: #b81616;
  color: #fff;
}
