.container {
  margin: 20px 0;
}

.orderTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  color: black;
}

.orderTable th,
.orderTable td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.orderTable th {
  background-color: #f2f2f2;
}

.orderTable tr:nth-child(even) {
  background-color: #494949;
}

.orderTable .orderStatus {
  color: rgb(228, 224, 9);
  font-weight: bold;
}

.addOrderReview {
  cursor: pointer;
}

.reviewEye {
  cursor: pointer;
}

.orderProductName {
  cursor: pointer;
  color: rgb(0, 255, 191);
}

@media (max-width: 600px) {
  .orderTable {
    font-size: 14px;
  }
}

@media (max-width: 640px) {
  .orderTable .hideInfo {
    display: none;
  }
}
